<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="a.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Node.js server" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="a.js" />
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
    <iisnode nodeProcessCommandLine="C:\Program Files (x86)\nodejs\10.14.1\node.exe" startCommand="node a.js" />
  </system.webServer>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="iisnode" path="/" verb="*" modules="iisnode" />
      </handlers>
      <rewrite>
        <rules>
          <rule name="Node.js" patternSyntax="ECMAScript" stopProcessing="true">
            <match url="/*" />
            <action type="Rewrite" url="/" />
          </rule>
        </rules>
      </rewrite>
      <iisnode nodeProcessCommandLine="C:\Program Files (x86)\nodejs\10.14.1\node.exe" startCommand="node my-custom-start-command.js" />
      <directoryBrowse enabled="false" />
      <virtualDirectory path="/" physicalPath="D:\home\site\wwwroot\nf" />
    </system.webServer>
  </location>
</configuration>