@font-face {
  font-family: "sfpro";
  src: url("SFPRODISPLAYREGULAR.OTF");
}
.sfpro {
  font-family: "sfpro";
}

* {
  text-align: center;

}

 .wholesite{
  background: black !important;
  width: 100% !important;
  height: auto !important;
  overflow-x: hidden !important;
}

#gamestleftpanel
{
  transition: opacity 1s;
}
/* chatgptanimations Remove startertext div */
#colap
{
  transition: opacity 1s;
}